<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <center>
        <div class="sucess">
            <p class="sucessText">
                New From Create successfully
            </p>
        </div>
    </center>
    <div class="dataUse">
        Name =
        <%=Result.Name%><br> Municipality =
            <%=Result.Municipality%><br> wardNo =
                <%=Result.WardNo%><br> Tole =
                    <%=Result.Tel%><br> SC =
                        <%=Result.SC%><br>DOT or TC =
                            <%=Result.DOTorTC%><br> TC =
                                <%=Result.TC%><br> DOT =
                                    <%=Result.DOT%><br> Machine Request =
                                        <%=Result.Machine%><br> Date Request =
                                            <%=Result.DateRequest%><br> DurationDay =
                                                <%=Result.DurationDay%><br> DurationHours =
                                                    <%=Result.DurationHours%><br> Paid =
                                                        <%=Result.paid%><br> Kiss User =
                                                            <%=Result.kisUser%><br>
                                                                <br>
                                                                <!-- <p class="code">
                                                                    Code number :
                                                                    
                                                                </p> -->
    </div>
    <center>
        <a href="/" class="btn-index">
        Home
    </a>
    </center>

</body>

</html>